@{
    ViewData["Title"] = "Statystyki";
    ViewData["bodyClass"] = "";
}

@model AutoAllegro.Models.StatsViewModels.DailyViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Statystyki sprzedaży w @Model.StatsDate</h2>
            <canvas id="yearlyChart" width="800" height="400"></canvas>
        </div>
    </div>
</div>

@section JavaScripts
{
    <script>
        var yearlyStats = $("#yearlyChart");
        var yearlyChart = new Chart(yearlyStats, {
            type: 'line',
            data: {
                labels: [ @Html.Raw(Model.DailyStats.FormatDates()) ],
                datasets: [
                    {
                        label: 'Zarobek netto [zł]',
                        data: [ @Html.Raw(Model.DailyStats.FormatDecimals()) ],
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        borderColor:  'rgba(54, 162, 235, 1)',
                        borderWidth: 1
                    }
                ]
            },
            xAxisID: "Test",
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
           
    });
    </script> 
}


