@{
    ViewData["Title"] = "Statystyki";
}

@{
    ViewData["bodyClass"] = "add-new-auction";
}
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <h2>Example heading <small>234</small></h2>
            <h4>Lorem Ipsum <small>Dolor Sit Amet</small></h4>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar" style="width: 20%"></div>
            </div>

            <h4>Lorem Ipsum <small>Dolor Sit Amet</small></h4>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-info" style="width: 20%"></div>
            </div>

            <h4>Lorem Ipsum <small>Dolor Sit Amet</small></h4>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-success" style="width: 40%"></div>
            </div>

            <h4>Lorem Ipsum <small>Dolor Sit Amet</small></h4>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-warning" style="width: 60%"></div>
            </div>

            <h4>Lorem Ipsum <small>Dolor Sit Amet</small></h4>
            <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-danger" style="width: 80%"></div>
            </div>
        </div>
        <div class="col-md-7">
        <h2>Some notifications <small>4</small></h2>

        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Warning!</h4>
            <p>Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
        </div>

        <div class="alert alert-dismissible alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.
        </div>

        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Well done!</strong> You successfully read <a href="#" class="alert-link">this important alert message</a>.
        </div>

        <div class="alert alert-dismissible alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a>, but it's not super important.
        </div>
    </div>
    </div>
</div>
