@import 'variables';

#main {
    .buyers-list,
    .list-wrapper {
        table {
            tr {
                td {
                    padding: 12px 8px;
                }
            }
        }
    }

    .pagination-wrapper {
        text-align: center;
    }

    .order-completed { 
        background-color: #c9ffd1; 
    }
    .order-cancelled { 
        background-color: #ffd3d3; 
    }
    .order-inprogress { 
        background-color: #d9f5f9;
    }
}
