@model AutoAllegro.Models.ManageViewModels.IndexViewModel
@{
    ViewData["Title"] = "Ustawienia";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h1>@ViewData["Title"]</h1>
                <p class="text-success">@ViewData["StatusMessage"]</p>                
            </div>
        
            <div>
                <div class="list-group">
                    <a asp-controller="Manage" asp-action="AllegroSettings" class="list-group-item">Ustawienia allegro</a>
                    <a asp-controller="Manage" asp-action="ChangePassword" class="list-group-item">Zmień hasło</a>
                </div>
            </div>
        </div>
    </div>
</div>
