@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewData["Title"].</h2>
            <p>
                Sprawdź swój e-mail, aby zresetować hasło.
            </p>
        </div>
    </div>
</div>
