@{
    ViewData["Title"] = "Zmiana hasła";
}


<div class="container">
    <h2>@ViewData["Title"]</h2>
    <p>
        Twoje hasło zostało zmienione. Proszę <a asp-controller="Account" asp-action="Login">Kliknij tutaj aby się zalogować</a>
    </p>
</div>
